{% load static %}
<footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Vulcanizadora Elian 2026</span>
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Panel de Administración Privado A</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Todos los derechos reservados</span>
              </div>
            </div>
          </div>
        </footer>
        </div>
      </div>
    </div>
  <script src="{% static 'private/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'private/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'private/js/off-canvas.js' %}"></script>
  <script src="{% static 'private/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'private/js/template.js' %}"></script>
  <script src="{% static 'private/js/dashboard.js' %}"></script>
  </body>

</html>